name: Release

on:
  workflow_dispatch:
    inputs:
      branch:
        description: Source branch from which the version should be created. 'main' should never be used, to create a release branch please trigger the "prepare" workflow before.
        required: true


concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:

  Runtime-Metamodel:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: RuntimeMetamodel ${{ inputs.branch }}
        run: |
          chmod +x ./scripts/github_action.sh
          ./scripts/github_action.sh "eclipse-edc" "runtime-metamodel" "release.yml" "" "${{ secrets.ORG_GITHUB_BOT_USER }}" "${{ secrets.ORG_GITHUB_BOT_TOKEN }}" "${{ inputs.branch }}"

  GradlePlugins:
    runs-on: ubuntu-latest
    needs: [ Runtime-Metamodel ]
    steps:
      - uses: actions/checkout@v6
      - name: GradlePlugins ${{ inputs.branch }}
        run: |
          chmod +x ./scripts/github_action.sh
          ./scripts/github_action.sh "eclipse-edc" "gradleplugins" "release.yml" "" "${{ secrets.ORG_GITHUB_BOT_USER }}" "${{ secrets.ORG_GITHUB_BOT_TOKEN }}" "${{ inputs.branch }}"

  Connector:
    runs-on: ubuntu-latest
    needs: [ GradlePlugins ]
    steps:
      - uses: actions/checkout@v6
      - name: Connector ${{ inputs.branch }}
        run: |
          chmod +x ./scripts/github_action.sh
          ./scripts/github_action.sh "eclipse-edc" "connector" "release.yml" "" "${{ secrets.ORG_GITHUB_BOT_USER }}" "${{ secrets.ORG_GITHUB_BOT_TOKEN }}" "${{ inputs.branch }}"

  IdentityHub-FederatedCatalog:
    runs-on: ubuntu-latest
    needs: [ Connector ]
    strategy:
      fail-fast: false
      matrix:
        repository: [ "identityhub", "federatedcatalog" ]
    steps:
      - uses: actions/checkout@v6
      - name: ${{ matrix.repository }} ${{ inputs.branch }}
        run: |
          chmod +x ./scripts/github_action.sh
          ./scripts/github_action.sh "eclipse-edc" "${{ matrix.repository }}" "release.yml" "" "${{ secrets.ORG_GITHUB_BOT_USER }}" "${{ secrets.ORG_GITHUB_BOT_TOKEN }}" "${{ inputs.branch }}"

  Technology:
    runs-on: ubuntu-latest
    needs: [ IdentityHub-FederatedCatalog ]
    strategy:
      fail-fast: false
      matrix:
        repository: [ "technology-aws", "technology-azure", "technology-gcp", "technology-huaweicloud" ]
    steps:
      - uses: actions/checkout@v6
      - name: ${{ matrix.repository }} ${{ inputs.branch }}
        run: |
          chmod +x ./scripts/github_action.sh
          ./scripts/github_action.sh "eclipse-edc" "${{ matrix.repository }}" "release.yml" "" "${{ secrets.ORG_GITHUB_BOT_USER }}" "${{ secrets.ORG_GITHUB_BOT_TOKEN }}" "${{ inputs.branch }}"

  Post-To-Discord:
    needs: [ Runtime-Metamodel, GradlePlugins, Connector, IdentityHub-FederatedCatalog, Technology ]
    if: "always()"
    runs-on: ubuntu-latest
    steps:
      - uses: sarisia/actions-status-discord@v1
        name: "Invoke discord webhook"
        with:
          webhook: ${{ secrets.DISCORD_GITHUB_CI_WEBHOOK }}
          status: ${{ needs.Runtime-Metamodel.result && needs.GradlePlugins.result && needs.Connector.result && needs.IdentityHub-FederatedCatalog.result && needs.Technology.result }}
          title: "Nightly Build"
          description: "Release ${{ inputs.branch }}"
          username: GitHub Actions
